/* the styles for the HTML elements */
@import "compass/css3";

html {
  /* background-image: url("../images/img1.jpg"); */
  background-repeat: no-repeat;
  background-size: 95.8em 60em;
  background-position: 5px -6em;
}

/* Wrapper Animation Start */

.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 5px;
  stroke: grey;
}

.text {
  color: #3D3D3D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  position: relative;
  top: -48px;
  margin-left: 76px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.7s draw linear forwards;
  animation: 0.7s draw linear forwards;
}
/* End */

/* Start of Table */

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 100px auto;
	width: 470px;
  margin-top: 1em;
  margin-left: 80px;

}

#tablePosition
{
  margin-left: 100px;
}

th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#3F3F3F, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
  text-align: center;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}

tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

/* End */


header {
    margin: 0;
    /* border-bottom: 2px solid black; */
}

header h1 {
    margin: 0;
    padding: .5em 0;
    color: #3D3D3D;  /* almost black*/
    margin-left: 12em;
}


hr.style11 {
	height: 8px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    width: 760px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: transparent;
    /* border: 2px solid black; */
    margin-top: 15.5em;
    margin-left: 4em;
    position: fixed;
}
aside {
    float: left;
    width: 150px;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 4px;

}
nav ul li {
    padding-bottom: 0.5em;
    padding-top: 8px;
}
section {
    float: left;
    width: 500px;
}
footer {
    margin: 0;
    padding-top: 1.5em;
    clear: both;
}
/* the styles for the other HTML elements */
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    margin-left: 13em;
    color: black;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
h2 {
    color: #3D3D3D;

}

ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
    margin-top: 15px;
}
li {
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-top: 20px;
}
a {
    color:  #3D3D3D;
    font-weight: bold;
    font-size: 10px;
}

/* table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 15px;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
} */
br {
    clear: both;
}
/* classes */
.right:before {
    content: "\20AC";

}
.last_paragraph {
	margin-bottom: 2em;
}

/* Glitch Effect */
.glitch{
    position:relative;
    font-size:30px;
    line-height: 50px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: -2em;;
  }

  .glitch::before,
  .glitch::after{
    content:attr(data-text);
    font-weight: bold;
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:100%;
  }

  .glitch::before{
    left:2px;
    text-shadow:-1px 0 red;
    background:#FDFBFC;
    /*animation*/
    -webkit-animation:glitch-anim-2 2s infinite linear alternate-reverse;
       -moz-animation:glitch-anim-2 2s infinite linear alternate-reverse;
        -ms-animation:glitch-anim-2 2s infinite linear alternate-reverse;
         -o-animation:glitch-anim-2 2s infinite linear alternate-reverse;
            animation:glitch-anim-2 2s infinite linear alternate-reverse;
  }

  .glitch::after{
    clip:rect(20px, 400px, 30px, 0);
    left:-2px;
    text-shadow:-1px 0 blue;
    background:#FDFBFC;
    /*animation*/
    -webkit-animation:glitch-anim 2s infinite linear alternate-reverse;
       -moz-animation:glitch-anim 2s infinite linear alternate-reverse;
        -ms-animation:glitch-anim 2s infinite linear alternate-reverse;
         -o-animation:glitch-anim 2s infinite linear alternate-reverse;
            animation:glitch-anim 2s infinite linear alternate-reverse;
  }

  @-webkit-keyframes glitch-anim{
    0% {
      clip: rect(10px, 400px, 15px, 0);
    }
    20% {
      clip: rect(400px, 400px, 41px, 0);
    }
    40% {
      clip: rect(25px, 400px, 26px, 0);
    }
    60% {
      clip: rect(10px, 400px, 15px, 0);
    }
    80% {
      clip: rect(26px, 400px, 29px, 0);
    }
    100% {
      clip: rect(40px, 400px, 45px, 0);
    }
  }

  @-moz-keyframes glitch-anim{
    0% {
       clip: rect(10px, 400px, 15px, 0);
    }
    20% {
      clip: rect(400px, 400px, 41px, 0);
    }
    40% {
      clip: rect(25px, 400px, 26px, 0);
    }
    60% {
      clip: rect(10px, 400px, 15px, 0);
    }
    80% {
      clip: rect(26px, 400px, 29px, 0);
    }
    100% {
      clip: rect(40px, 400px, 45px, 0);
    }
  }

  @keyframes glitch-anim{
    0% {
      clip: rect(10px, 400px, 15px, 0);
    }
    20% {
      clip: rect(400px, 400px, 41px, 0);
    }
    40% {
      clip: rect(25px, 400px, 26px, 0);
    }
    60% {
      clip: rect(10px, 400px, 15px, 0);
    }
    80% {
      clip: rect(26px, 400px, 29px, 0);
    }
    100% {
      clip: rect(40px, 400px, 45px, 0);
    }
  }

  @-webkit-keyframes glitch-anim-2{
    0% {
     clip: rect(30px, 400px, 40px, 0);
    }
    20% {
      clip: rect(26px, 400px, 28px, 0);
    }
    40% {
      clip: rect(15px, 400px, 100px, 0);
    }
    60% {
      clip: rect(40px, 400px, 45px, 0);
    }
    80% {
      clip: rect(10px, 400px, 18px, 0);
    }
    100% {
      clip: rect(40px, 400px, 50px, 0);
    }
  }

  @-moz-keyframes glitch-anim-2{
    0% {
     clip: rect(30px, 400px, 40px, 0);
    }
    20% {
      clip: rect(26px, 400px, 28px, 0);
    }
    40% {
      clip: rect(15px, 400px, 100px, 0);
    }
    60% {
      clip: rect(40px, 400px, 45px, 0);
    }
    80% {
      clip: rect(10px, 400px, 18px, 0);
    }
    100% {
      clip: rect(40px, 400px, 50px, 0);
    }
  }

  @keyframes glitch-anim-2{
    0% {
     clip: rect(30px, 400px, 40px, 0);
    }
    20% {
      clip: rect(26px, 400px, 28px, 0);
    }
    40% {
      clip: rect(15px, 400px, 100px, 0);
    }
    60% {
      clip: rect(40px, 400px, 45px, 0);
    }
    80% {
      clip: rect(10px, 400px, 18px, 0);
    }
    100% {
      clip: rect(40px, 400px, 50px, 0);
    }
  }

/* End */

/* Arrow Animation */



/* End */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
h4 {

  font-family: 'Raleway';
  font-weight: 400;
  font-size: 2em;
  color: grey;
  margin-left: 16em;
  margin-top: -7em;
  position: fixed;

}

.letterDrop {
  position: relative;
  top: 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  opacity: 0.8;
  transform: rotateX(-90deg);
  animation: letterDrop 1.2s ease 1 normal forwards;
  margin-bottom: 10em;

}

@keyframes letterDrop {
    10% {
        opacity: 0.5;

    }
    20% {
        opacity: 0.8;
        top: 2.3em;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 1;
        top: 1em;
        transform: rotateX(360deg);
    }
}


span:nth-child(2n) {
  color: black;
}

.indexBrands {
  margin: -10px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  margin-left: 50%;
}

#teamName{
  margin-left: 10em;
  margin-top: 50%;
}
a {
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: -10px 10px;
  position: relative;


}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
    color:
	}
}

#joinUs3{
  margin-left:76em;
  margin-top: -40em;
  width: 200;
  position: fixed;


}


#tablePosition
{
  margin-left: 50%;
}

#categoryName{
  margin-left: 24em;
}

#teamh2{
  margin-left: 3.5em;
  margin-top: 0.4em;
  color: blue;
}
